head
    //- link(src='/dist/css/prueba111.min.css')
    link(href="/css/prueba111.css", rel="stylesheet")
body
    nav
        ul
            li 
                a(href="/") perro gato 
            li caballo poni
            li mola 1000!!!!
            li b
            li 5
    section

if livereload
    script(src="http://localhost:35729/livereload.js")